# VS Code
.vscode/*

# Wurst
/_build
wurst.dependencies
/temp
/backups

# Generated
bin/generated.j

# VIM
.*.un~
.*.swp

# JASSHelper
logs/
tmp*

# Other map files
/*.w3x
compiled-maps/*
compiled.j.txt

# Generated Changelog
markdown_changelog.md

# Python scripts
__pycache__
venv/

# Files generated during builds.
imports/LoadingScreen.tga
wurst/objects/abilities/scout/HawkPet.wurst
wurst/objects/abilities/gatherer/Alchemist/DummySpells.wurst
wurst.build
changelog_07.txt
CommandFunc_10_11.txt
.gitignore
CustomUiTemp.jurst
CommandFunc_ERTYDFGH.txt
